* {
    margin: 0;
    padding: 0;
}

body {

    min-width: 100vw;
    min-height: 100vh;
    font-size: 2rem;
}

.container {

    padding: 10px;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.barraLateral{

    background-color: blue;
    width: 2em;
    display: flex;
    flex-direction: column;
}

.barraPrincipal {

    background-color: red;
    flex-grow: 1;
}

.elementos {

    margin: auto;
    border: 2px solid black;

}


@media screen and (max-width: 640px) {

    .container {

        flex-direction: column;
    }

    .barraLateral {

        width: 16em;
        height: 4em;
        order: 2;
    }

    .barraPrincipal {

        order: 1
    }

    .elementos {

        width: 90%;
        height: 1em;
    }
}